<!-- Carousel -->
<div class="carousel slick">
  <div class="carousel-slide">
    <img class="carousel-img" src="/images/dad.png" alt="Dad at work" />
  </div>
  <div class="carousel-slide">
    <img class="carousel-img" src="/images/222.png" alt="Playground with green grass" />
  </div>
  <div class="carousel-slide">
    <img class="carousel-img" src="/images/man.png" alt="Gay Armenian" />
  </div>
  <div class="carousel-slide">
    <img class="carousel-img" src="/images/half.png" alt="Half grass, half dirt" />
  </div>
  <div class="carousel-slide">
    <img class="carousel-img" src="/images/dav.png" alt="David" />
  </div>
  <div class="carousel-slide">
    <img class="carousel-img" src="/images/playground.png" alt="Playground with green grass" />
  </div>
</div>
