<!-- Navbar -->
<nav class="navbar">
    <div class="container">
      <div class="logo1"></div>
      <ul class="nav-links">
        <li><a class="nav-link" href="/" data-target="#hero">Home</a></li>
        <li><a class="nav-link" href="/" data-target="#services">Services</a></li>
        <li><a class="nav-link" href="/" data-target="#video-section">Video</a></li>
        <li><a class="nav-link" href="/" data-target="#reviews-pictures">Reviews</a></li>
        <li><a class="nav-link" href="/" data-target="#contact-about">Contact</a></li>
      </ul>
    </div>
</nav>




